* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(25, 146, 212);
    --accent-color: rgb(240, 180, 41);
    --accent-color2: rgb(226, 232, 240);
    --shadow-color: rgb(203, 207, 214);

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* | Components */

/* || Icon Button */

.icon-button {
    display: grid;
    align-items: center;
    appearance: none;
    background-color: #fff;
    border: none;
    outline: 1px solid rgb(230, 230, 230);
    border-radius: 50%;
    padding: 5px;
}

.icon-button > img {
    height: 1.5rem;
}


/* || User Photo */

.user-photo {
    height: 2.5rem;
    background-color: var(--accent-color2);
    border-radius: 50%;
    padding: 5px;
}


/* || Icon Button - Interaction */

.icon-button:hover {
    outline: 1px solid var(--accent-color);
}

.icon-button:active {
    outline: 2px solid var(--accent-color);
}


/* || Text Button */

.text-button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 1.5rem;
    padding: 0.6rem 1.3rem;
    width: 100%;

    color: #fff;
}


/* || Header Text Button Layout */

header .text-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    list-style: none;
    gap: 2rem;
}

header .text-buttons li {
    width: 100%;
}

header .text-button:active {
    outline: 2px solid var(--accent-color);
}


/* || Search Widget - Presentation */

.search-widget {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
}

.search-widget input {
    appearance: none;
    background-color: var(--accent-color2);
    outline: 1px solid var(--accent-color2);
    height: 1.8rem;
    border: none;
    border-radius: 20px;
    padding: 0 1rem;
    font-size: 1rem;
}


/* || Search Widget - Interaction */

.search-widget input:hover {
    outline: 1px solid var(--accent-color);
}

.search-widget input:focus {
    outline: 2px solid var(--accent-color);
}


/* || Account Widget - Presentation */

.account-widget {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: end;
    gap: 1.3rem;
}


/* || User Widget - Presentation */

.user-widget {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.user-widget .user-photo {
    height: 3.5rem;
}

.user-widget-text {
    display: grid;
    justify-content: start;
    align-content: center;
    gap: 0.3rem;;
}

.user-widget-text > .greeting {
    font-size: 0.8rem;
}

.user-widget .user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}


/* || Logo Widget */

.logo {
    display: grid;
    grid-template-columns: 3rem auto;
    gap: 1rem;
}

.logo > img {
    height: 3rem;
    fill: #fff;
}

.logo > p {
    display: grid;
    font-size: 1.5rem;
    align-items: center;
}


/* || Sidebar - Presentation */

.sidebar {
    padding: 1rem;
    min-height: 100vh;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 500;
}

.sidebar ul {
    display: grid;
    gap: 1rem;
}

.sidebar li {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
    padding-left: 0.5rem;
}

.sidebar li img {
    height: 1.5rem;
}




.section-heading {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 1rem 0;
}

.section-content {
    font-size: 0.8rem;
    font-weight: 300;
}

/* this isn't doing anything? */
.announcement h1 {
    font-size: 0.8rem;;
    font-weight: 700;
    margin-bottom: 0.2rem;
}

.announcement {
    padding: 1rem 0.5rem;
    border-bottom: 1px solid var(--shadow-color);
}

.announcement:last-child {
    border-bottom: none;
}





.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 5px 2px var(--shadow-color);
    padding: 1rem;
}

.project h1 {
    font-size: 1rem;
}

.project {
    display: grid;
    grid-template-rows: auto 1fr auto;
}


.card-actions {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    gap: 0.8rem;
}

.card.project {
    border-left: 10px solid var(--accent-color);
    font-weight: 300;
    display: grid;
    gap: 0.7rem;
    height: 100%;
}

.card.project > .card-actions {
    margin-top: 1rem;
}

/* Main Content - Presentation */

main {
    background-color: var(--accent-color2);
    padding: 1rem;
}
