* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(25, 146, 212);
    --accent-color: rgb(240, 180, 41);
    --accent-color2: rgb(226, 232, 240);
    --shadow-color: rgb(203, 207, 214);

    font-family: 'Roboto';
    font-size: 18px;
}

body {
    display: grid;
    grid-template: 1fr 6fr / 1fr 4fr ;
}

header {
    grid-column: 2 / 3;
    box-shadow: 0px 5px 5px 0 var(--shadow-color);
    position: relative;
}

#header-top {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

#header-top button {
    display: grid;
    align-items: center;
    appearance: none;
    background-color: #fff;
    border: none;
    outline: 1px solid rgb(230, 230, 230);
    border-radius: 2rem;
    padding: 5px
}

.interactive-component:hover {
    outline: 1px solid var(--accent-color);
}

.interactive-component:active:focus {
    outline: 2px solid var(--accent-color);
}


#header-top button img {
    height: 1.5rem;
}

.search {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
}

.account {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: end;
    gap: 2rem;
}

.account > img {
    height: 3rem;
    background-color: var(--accent-color2);
    border-radius: 3rem;
    padding: 5px;
}


.search input {
    appearance: none;
    background-color: var(--accent-color2);
    outline: 1px solid var(--accent-color2);
    height: 1.8rem;
    border: none;
    border-radius: 20px;
    padding: 0 1rem;
    font-size: 1rem;
}

/* main {
    background-color: var(--accent-color2);
} */

.sidebar {
    grid-row: 1 / 3;
    padding: 1rem;
    min-height: 100vh;
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bolder;
}

.sidebar-items {
    display: grid;
    grid-template-rows: auto, auto, auto;
    gap: 3rem;
}

.sidebar ul {
    display: grid;
    gap: 1rem;
}

.logo {
    display: grid;
    grid-template-columns: 3rem auto;
    gap: 1rem;
}

.logo > img {
    height: 3rem;
    fill: #fff;
}

.logo > p {
    display: grid;
    font-size: 1.5rem;
    align-items: center;
}

.sidebar li {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
    padding-left: 0.5rem;
}

.sidebar li img {
    height: 1.5rem;
}